@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: rgba(250, 194, 141, 0.522);
  font-family: "PT Sans", sans-serif;
}

/* Header design starts */
.navbar {
  background-image: linear-gradient(to right, #ff5f6d, #ffc371);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuList ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 2rem;
}

.menuList li {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
}

.menuList li a {
  text-decoration: none;
  color: #000000;
  padding: 1.5rem;
  display: block;
}
.menuList li a:active {
  background-color: #2c2c2c54;
}
.menuList li a:hover {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.logo img {
  width: 16rem;
  margin: 0.6rem 3rem;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.menuIcon {
  position: absolute;
  top: 2.5rem;
  right: 3.2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
}

.menuIcon .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}
.menuIcon .bar:hover {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

/* Main content starts */
.container {
  min-height: 72vh;
  display: flex;
  width: 70%;
  margin: 1.5rem auto;
  padding: 2.2rem;
  border-radius: 0.9rem;
  /* background-image: url(/images/back.jpg); */
}

.songList h1 {
  font-size: 3rem;
  text-shadow: 2px 1px 0px red;
}

.songItemContainer {
  margin-top: 3rem;
}

.songItem {
  height: 6.5rem;
  display: flex;
  opacity: 70%;
  /* border-bottom: 2px solid black; */
  padding: 10px;
  box-shadow: 1px 8px black;
  width: 65vw;
  color: black;
  margin: 3rem 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 3.8rem;
}

.songItem img {
  margin: 0 1.5rem;
  width: 5rem;
  border-radius: 3rem;
}

.songItem .songName {
  font-size: 2rem;
}

.timestamp {
  margin: 0 1.2rem;
  display: flex;
  align-items: center;
  white-space: inherit;
  font-size: 2rem;
}

.timestamp i {
  padding: 0 1.5rem;
  cursor: pointer;
  font-size: 4rem;
}
.timestamp i:hover {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

/* Bottom song player navbar */
.songInfo {
  font-size: 2rem;
  font-family: "Varela Round", sans-serif;
  position: absolute;
  left: 15vw;
  top: 5vw;
}

.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
  mix-blend-mode: screen;
}

.bottom {
  position: sticky;
  height: 12.2rem;
  background-image: linear-gradient(to right, #ff5f6d, #ffc371);
  color: black;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 2.3rem;
}

.icons i {
  cursor: pointer;
  margin: 0 0.5rem;
}

.icons i:hover {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#myProgressBar {
  width: 70vw;
  text-align: center;
  cursor: pointer;
}

/* Responsive design starts */
/* res: 320px — 480px,481px — 768px, 1025px — 1200px*/
/* @media (min-width: 1025px){} */

@media (min-width: 1025px) and (max-width: 1200px){
  .songInfo {
    font-size: 2.1rem;
    left: 30vw;
    top: 4vw;
  }
  
  .bottom {
    height: 15rem;
  }
  
  .icons {
    margin-top: 4.2rem;
    font-size: larger;
  }
  
  .icons i {
    cursor: pointer;
    margin: 0 0.5rem;
  }

  #myProgressBar {
    width: 75vw;
  }
}



@media (min-width: 481px) and (max-width: 768px) {
  .navbar{
    width: 100%;
    position: sticky;
    top: 0;
  }
  .menuList li a {
    padding: 0.5rem .8rem;
  }
  .logo img {
    width: 14rem;
    margin: 0.6rem 1.5rem;
  }
  .menuIcon {
    right: 3.2rem;
    width: 3rem;
    height: 1.5rem;
  }
  /* Main content starts */
  .container {
    width: 80%;
    margin: 1.5rem auto;
    padding: .2rem 1rem;
  }
  .songList{
    max-height: 5.5rem;
  }

  .songList h1 {
    font-size: 2.5rem;
  }

  .songItemContainer {
    margin-top: 2.5rem;
  }
  .songItem {
    opacity: 80%;
    padding: 0;
    box-shadow: 1px 5px black;
    width: 80vw;
    margin: 1.5rem 0;
  }
  
  .songItem img {
    margin: 0 1rem;
    margin-left: 1.7rem;
    max-width: 4rem;
  }
  
  .songItem .songName {
    font-size: 1.6rem;
    padding-right: 1rem;
  }
  .timestamp {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .timestamp i {
    padding: 0 .5rem;
    padding-right: 1.5rem;
    font-size: 3.5rem;
  }
  .songInfo {
    font-size: 1.8rem;
    left: 13vw;
    top: 7vw;
    position: absolute;
    margin: 1vmax;
  }
  .bottom {
    height: 16rem;
    bottom: 0;
  }
  .icons {
    margin-top: 4rem;
  }
  .icons i {
    margin: 0 0.5rem;
  }  
  #myProgressBar {
    width: 80vw;
  }
}



@media (max-width: 480px) {
  .menuIcon {
    display: flex;
    /* margin-right: 0; */
    top: 1.8rem;
    right: 3.5rem;
  }
  .menuList {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menuList ul {
    width: 100%;
    flex-direction: column;
    margin-left: 3rem;
  }
  .menuList li {
    text-align: start;
  }

  .menuList li a {
    padding: 0.5rem 1rem;
  }
  .menuList.active {
    display: flex;
  }
  .logo img {
    width: 13rem;
    margin: 0.6rem 1.4rem;
  }
  
  /* Main content starts */
  .container {
    min-width: 100%;
    margin: 1.5rem auto;
    padding: .2rem 1rem;
    box-sizing: border-box;
  }

  .songList h1 {
    font-size: 2.2rem;
    text-shadow: none;
  }

  .songItemContainer {
    margin-top: 2rem;
  }
  .songItem {
    min-height: 6rem;
    opacity: 80%;
    padding: 0;
    box-shadow: 1px 5px black;
    width: 90vw;
    margin: 1.5rem 0;
  }
  
  .songItem img {
    margin: 0 .5rem;
    margin-left: 1.5rem;
    max-width: 4rem;
  }
  
  .songItem .songName {
    font-size: 1.3rem;
    padding-right: 1rem;
  }
  .timestamp {
    margin: 0;
    font-size: 1.3rem;
  }
  
  .timestamp i {
    padding: 0 .5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    font-size: 3.5rem;
  }
  .songInfo {
    font-size: 1.4rem;
    left: 11vw;
    top: 14vw;
    position: absolute;
  }
  .songInfo img{
    width: 4rem;
    margin-left: 1.5rem;
  }
  .bottom {
    height: 16rem;
    bottom: 0;
  }
  .icons {
    margin-top: 5rem;
  }
  #myProgressBar {
    width: 85vw;
  }
}
